[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mysql-connector-python = "*"
django-cors-headers = "*"
tzdata = "*"
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
pillow = "*"

[dev-packages]
autopep8 = "*"
